params {
    graffite_cpus     = 40
    repeatmasker_cpus = 16
    minimap_cpus      = 16
    liftoff_cpus      = 4

    small_memory        = '8 GB'
    repeatmasker_memory = '32 GB'
    minimap_memory      = '32 GB'
    liftoff_memory      = '16 GB'

    queue           = null
    cluster_options = null
}

process {
    executor      = 'local'
    errorStrategy = 'terminate'
    maxRetries    = 1
    shell         = ['/bin/bash', '-ue']

    withLabel: orchestrator {
        executor = 'local'
        cpus     = 1
        memory   = '4 GB'
        time     = '14d'
    }

    withLabel: small {
        cpus   = 1
        memory = params.small_memory
        time   = '4h'
    }

    withLabel: repeatmasker {
        cpus   = params.repeatmasker_cpus
        memory = params.repeatmasker_memory
        time   = '24h'
    }

    withLabel: minimap {
        cpus   = params.minimap_cpus
        memory = params.minimap_memory
        time   = '24h'
    }

    withLabel: liftoff {
        cpus   = params.liftoff_cpus
        memory = params.liftoff_memory
        time   = '24h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
}

manifest {
    name            = 'BurriTE'
    author          = 'Simon Orozco-Arias; Yocelyn T. Gutiérrez-Guerrero; Svitlana Sushko and contributors'
    version         = '4.0.0'
    nextflowVersion = '>=23.10.1'
    description     = 'BurriTE: TE pan-annotation'
}

dag {
    enabled = true
    file    = 'BurriTE_v4_dag.html'
    overwrite = true
}

report {
    enabled = true
    file    = 'BurriTE_v4_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file    = 'BurriTE_v4_timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file    = 'BurriTE_v4_trace.txt'
    overwrite = true
}
